body{
    height: 100vh;
    
}
header{
    height: 20%;
    background-color: rgb(220, 232, 232);
}
main{
    height: 70%;
    border: thin solid #eae3e3;
}
footer{
    height: 10%;
    background-color: rgb(196, 214, 214);
    margin-top: 10px;
}
section{
    width: 100%;
    height: 100%;
    background-color: rgb(192, 30, 30);

}
img{
    width: 400px;
}